<form class="ui form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="ui form">
        <div class="field">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" required>
        </div>

        <div class="field">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" required>
        </div>

        <div class="field">
            <label for="email">Email</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" required>
        </div>

        <div class="field">
            <label for="phone">Phone Number</label>
            <input type="text" id="phone" [(ngModel)]="phone" name="phone" required>
        </div>

        <div class="two fields">

            <div class="field">
                <label for="country">Country</label>
                <select class="ui fluid search selection dropdown" id="country" [(ngModel)]="country" name="country"
                    required>
                    <option value="">Select a country</option>
                    <option *ngFor="let country of countries" [value]="country.code">
                        {{ country.name }}
                    </option>
                </select>
            </div>

            <div class="field">
                <label for="occupation">Occupation</label>
                <select class="ui fluid dropdown" [(ngModel)]="occupation" name="occupation">
                    <option value="Frontend">Frontend Developer</option>
                    <option value="Backend">Backend Developer</option>
                    <option value="Designer">Designer</option>
                    <option value="Devops">Devops Engineer</option>
                </select>
            </div>
        </div>

        <div class="field">
            <label for="successful">Successful</label>
            <div>
                <input type="radio" id="successfulTrue" [(ngModel)]="successful" name="successful" value="true"
                    required>
                <label for="successfulTrue">Yes</label>
            </div>
            <div>
                <input type="radio" id="successfulFalse" [(ngModel)]="successful" name="successful" value="false"
                    required>
                <label for="successfulFalse">No</label>
            </div>
        </div>

        <button class="ui button" (click)="onSubmit(form)">Submit</button>
    </div>

</form>