<form sui-form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div suiFormField>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" ngModel [(ngModel)]="firstName" name="firstName" required>
    </div>

    <div suiFormField>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" ngModel [(ngModel)]="lastName" name="lastName" required>
    </div>

    <div suiFormField>
        <label for="email">Email</label>
        <input type="email" id="email" ngModel [(ngModel)]="email" name="email" required>
    </div>

    <div suiFormField>
        <label for="phone">Phone Number</label>
        <input type="text" id="phone" ngModel [(ngModel)]="phone" name="phone" required>
    </div>

    <div class="two fields">

        <div suiFormField>
            <label for="country">Country</label>
            <sui-select suiPlaceholder="Select a country" name="country" [suiOptions]="countries" ngModel
                [(ngModel)]="country" required></sui-select>
        </div>

        <div suiFormField>
            <label for="occupation">Occupation</label>
            <sui-select suiPlaceholder="Select an Occupation" name="occupation" [suiOptions]="occupations" ngModel
                [(ngModel)]="occupation" required></sui-select>
        </div>
    </div>

    <div suiFormField>
        <label>Successful</label>
        <div class="ui radio checkbox">
            <input type="radio" name="successful" value="true" ngModel [(ngModel)]="successful" required />
            <label>True</label>
        </div>
        <div class="ui radio checkbox">
            <input type="radio" name="successful" value="false" ngModel [(ngModel)]="successful" required />
            <label>False</label>
        </div>
    </div>


    <button sui-button (click)="onSubmit(form)">Submit</button>

</form>